@use "@angular/material" as mat;

html {
	color-scheme: light dark;
	@include mat.theme((
			color: mat.$azure-palette,
			typography: (
					plain-family: Roboto,
					brand-family: Roboto,
			),
	));
}
