Version 1.0

[MTR]
MotorNoiseDataType = 4
MotorVolumeMultiply = 2
DoorCloseSoundLength = 1

[run]
0 = run0.wav
1 = run1.wav
2 = run2.wav
3 = run3.wav
4 = run4.wav

[flange]
0 = flange0.wav
1 = flange0.wav
2 = flange1.wav
3 = flange2.wav
4 = flange2.wav

[motor]
0 = motor0.wav
1 = motor1.wav
2 = motor2.wav
3 = motor3.wav
4 = motor4.wav
5 = motor5.wav
6 = motor6.wav
7 = motor7.wav
8 = motor8.wav

[switch]
0 = point.wav

[brake]
bc release high = air.wav
bc release = air.wav
bc release full = airzero.wav
#emergency = embrake.wav

[compressor]
attack = cpstart.wav
loop = cploop.wav
release = cpend.wav

[horn]
#primary = klaxon.wav
#secondary = klaxon1.wav

[brake handle]
#release = brake.wav
#min = brakezero.wav
#max = emrbrake.wav

[others]
noise = loop.wav
shoe = rub.wav

[door]
open left = dooropn.wav
open right = dooropn.wav
close left = doorcls.wav
close right = doorcls.wav

[buzzer]
#correct = buzzer.wav