Version 1.0

[MTR]
MotorNoiseDataType = 5
MotorVolumeMultiply = 1
DoorCloseSoundLength = 0.5

[Door]
Open = dooropn.wav
Close = doorcls.wav

[Run]
0 = run.wav

[Motor]
0 = motor0.wav
1 = motor1.wav
2 = motor2.wav
3 = motor3.wav
4 = motor4.wav
5 = motor5.wav
6 = motor6.wav
7 = motor7.wav
8 = motor8.wav
9 = motor9.wav
10 = motor10.wav
11 = motor11.wav
12 = motor12.wav
13 = motor13.wav

[Others]
# Constantly played in background.
Noise = loop.wav


