# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
latest.log
Keys.java
mappings
BlockEntityExtension.java
RandomSource.java
UnknownPacketMixin.java
**/lang/*.json
!en_us.json

common/src/main/resources/assets/mtr/sounds/
common/src/main/resources/assets/mtr/textures/
common/src/main/resources/assets/mtr/website/
common/src/main/resources/assets/mtr/sounds.json
common/src/main/resources/data/minecraft/
common/src/main/resources/data/mtr/
fabric/src/main/resources
forge/src/main/resources

.architectury-transformer/
