<div class="column gap center wrapper">
    <div class="column gap fields">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'export.name' | translate }}</mat-label>
            <input matInput aria-label="Name" #name autocomplete="off"/>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'export.description' | translate }}</mat-label>
            <textarea matInput aria-label="Description" cdkTextareaAutosize #description autocomplete="off"></textarea>
        </mat-form-field>
    </div>
    <div class="spacing"></div>
    <app-large-tile icon="ios_share" [clickable]="true" [disabled]="!name.value || !description.value"
                    (clicked)="export(name.value, description.value)">
        <h2>{{ 'export.title' | translate }}</h2>
        <div>{{ 'export.share' | translate }}</div>
    </app-large-tile>
    <div class="spacing"></div>
    <div class="column gap-small center">
        <div>{{ 'export.finished' | translate }}</div>
        <code>{{ getExportDirectory() }}</code>
    </div>
</div>
