<h2 mat-dialog-title>{{ 'vehicle_properties.title' | translate }}</h2>
<mat-dialog-content>
	<form class="column gap" [formGroup]="formGroup">
		<div>{{ 'vehicle_properties.general' | translate }}</div>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>{{ 'vehicle_properties.id' | translate }}</mat-label>
			<input matInput attr.aria-label="{{ 'vehicle_properties.id' | translate }}" formControlName="id" autocomplete="off" spellcheck="false"/>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>{{ 'vehicle_properties.name' | translate }}</mat-label>
			<input matInput attr.aria-label="{{ 'vehicle_properties.name' | translate }}" formControlName="name" autocomplete="off"/>
		</mat-form-field>
		<div class="row gap">
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'vehicle_properties.color' | translate }}</mat-label>
				<input matInput type="color" attr.aria-label="{{ 'vehicle_properties.color' | translate }}" formControlName="color"/>
			</mat-form-field>
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'vehicle_properties.transport_modes.title' | translate }}</mat-label>
				<mat-select formControlName="transportMode">
					<mat-option value="TRAIN">{{ 'vehicle_properties.transport_modes.train' | translate }}</mat-option>
					<mat-option value="BOAT">{{ 'vehicle_properties.transport_modes.boat' | translate }}</mat-option>
					<mat-option value="CABLE_CAR">{{ 'vehicle_properties.transport_modes.cable_car' | translate }}</mat-option>
					<mat-option value="AIRPLANE">{{ 'vehicle_properties.transport_modes.airplane' | translate }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>{{ 'vehicle_properties.description' | translate }}</mat-label>
			<textarea matInput attr.aria-label="{{ 'vehicle_properties.description' | translate }}" cdkTextareaAutosize formControlName="description" autocomplete="off"></textarea>
		</mat-form-field>
		<div class="row gap-small center">
			<mat-form-field class="spacing" subscriptSizing="dynamic">
				<mat-label>{{ 'vehicle_properties.wikipedia_article' | translate }}</mat-label>
				<input matInput #wikipediaArticle attr.aria-label="{{ 'vehicle_properties.wikipedia_article' | translate }}" (input)="formatWikipediaArticle(wikipediaArticle)" formControlName="wikipediaArticle" autocomplete="off" spellcheck="false"/>
			</mat-form-field>
			<button mat-icon-button (click)="testWikipediaLink(wikipediaArticle.value)" [disabled]="!wikipediaArticle.value" matTooltip="{{ 'vehicle_properties.test_wikipedia_link' | translate }}">
				<mat-icon>open_in_new</mat-icon>
			</button>
		</div>

		<div>{{ 'vehicle_properties.dimension.title' | translate }}</div>
		<div class="row gap">
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'vehicle_properties.dimension.length' | translate }}</mat-label>
				<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.dimension.length' | translate }}" formControlName="length" min="0.5" step="0.5"/>
			</mat-form-field>
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'vehicle_properties.dimension.width' | translate }}</mat-label>
				<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.dimension.width' | translate }}" formControlName="width" min="0.5" step="0.5"/>
			</mat-form-field>
		</div>

		<div>{{ 'vehicle_properties.bogies.title' | translate }}</div>
		<div class="column gap-small">
			<mat-checkbox #hasTwoBogies formControlName="hasTwoBogies">{{ 'vehicle_properties.bogies.has_two_bogies' | translate }}</mat-checkbox>
			<div class="row gap center">
				@if (hasTwoBogies.checked) {
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>{{ 'vehicle_properties.bogies.front_bogie_position' | translate }}</mat-label>
						<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.bogies.front_bogie_position' | translate }}" formControlName="bogie1Position" step="0.5"/>
					</mat-form-field>
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>{{ 'vehicle_properties.bogies.back_bogie_position' | translate }}</mat-label>
						<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.bogies.back_bogie_position' | translate }}" formControlName="bogie2Position" step="0.5"/>
					</mat-form-field>
				} @else {
					<mat-form-field subscriptSizing="dynamic">
						<mat-label>{{ 'vehicle_properties.bogies.bogie_position' | translate }}</mat-label>
						<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.bogies.bogie_position' | translate }}" formControlName="bogiePosition" step="0.5"/>
					</mat-form-field>
				}
			</div>
		</div>

		<div>{{ 'vehicle_properties.couplings.title' | translate }}</div>
		<div class="row gap">
			<div class="column gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'vehicle_properties.couplings.front_coupling_padding' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.couplings.front_coupling_padding' | translate }}" formControlName="couplingPadding1" min="0" step="0.5"/>
				</mat-form-field>
				<div class="column">
					<mat-checkbox formControlName="hasGangway1">{{ 'vehicle_properties.couplings.has_front_gangway' | translate }}</mat-checkbox>
					<mat-checkbox formControlName="hasBarrier1">{{ 'vehicle_properties.couplings.has_front_barrier' | translate }}</mat-checkbox>
				</div>
			</div>
			<div class="column gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'vehicle_properties.couplings.back_coupling_padding' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.couplings.back_coupling_padding' | translate }}" formControlName="couplingPadding2" min="0" step="0.5"/>
				</mat-form-field>
				<div class="column">
					<mat-checkbox formControlName="hasGangway2">{{ 'vehicle_properties.couplings.has_back_gangway' | translate }}</mat-checkbox>
					<mat-checkbox formControlName="hasBarrier2">{{ 'vehicle_properties.couplings.has_back_barrier' | translate }}</mat-checkbox>
				</div>
			</div>
		</div>

		<div>{{ 'vehicle_properties.sound.title' | translate }}</div>
		<mat-radio-group class="column" attr.aria-label="{{ 'vehicle_properties.sound.sound_type' | translate }}" formControlName="soundType">
			<mat-radio-button value="bve" #bveSoundType>{{ 'vehicle_properties.sound.bve.format' | translate }}</mat-radio-button>
			<mat-radio-button value="legacy">{{ 'vehicle_properties.sound.legacy.format' | translate }}</mat-radio-button>
		</mat-radio-group>
		@if (bveSoundType.checked) {
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'vehicle_properties.sound.bve.sound_id' | translate }}</mat-label>
				<input matInput #bveSoundBaseResource attr.aria-label="{{ 'vehicle_properties.sound.bve.sound_id' | translate }}" (input)="sound.updateSound()" formControlName="bveSoundBaseResource" autocomplete="off" spellcheck="false"/>
			</mat-form-field>
			<div class="column">
				<div class="row gap-small center">
					<app-sound class="spacing" #sound buttonLabel="{{ 'vehicle_properties.sound.test_motor_sound' | translate }}" [timeout]="5000" [soundId]="bveSoundBaseResource.value" [sliderMax]="300" sliderLabelSuffix="km/h" parameters="type=bve&mode=speed"/>
					@if (sound.getIsMinecraftPaused()) {
						<mat-icon color="warn" matTooltip="{{ 'vehicle_properties.sound.unpause_minecraft' | translate }}">warning</mat-icon>
					} @else {
						<mat-icon/>
					}
				</div>
				<div class="row gap-small">
					<app-sound buttonLabel="{{ 'vehicle_properties.sound.test_door_open_sound' | translate }}" [timeout]="1000" [soundId]="bveSoundBaseResource.value" parameters="type=bve&mode=door-open"/>
					<app-sound buttonLabel="{{ 'vehicle_properties.sound.test_door_close_sound' | translate }}" [timeout]="1000" [soundId]="bveSoundBaseResource.value" parameters="type=bve&mode=door-close"/>
				</div>
			</div>
		} @else {
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'vehicle_properties.sound.legacy.motor_sound_id' | translate }}</mat-label>
					<input matInput #legacySpeedSoundBaseResource attr.aria-label="{{ 'vehicle_properties.sound.legacy.motor_sound_id' | translate }}" (input)="sound.updateSound()" formControlName="legacySpeedSoundBaseResource" autocomplete="off" spellcheck="false"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'vehicle_properties.sound.legacy.door_sound_id' | translate }}</mat-label>
					<input matInput #legacyDoorSoundBaseResource attr.aria-label="{{ 'vehicle_properties.sound.legacy.door_sound_id' | translate }}" formControlName="legacyDoorSoundBaseResource" autocomplete="off" spellcheck="false"/>
				</mat-form-field>
			</div>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'vehicle_properties.sound.legacy.motor_sound_count' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.sound.legacy.motor_sound_count' | translate }}" (input)="sound.updateSound()" formControlName="legacySpeedSoundCount" min="1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'vehicle_properties.sound.legacy.door_close_sound_duration' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'vehicle_properties.sound.legacy.door_close_sound_duration' | translate }}" formControlName="legacyDoorCloseSoundTime" min="0" max="1" step="0.1"/>
				</mat-form-field>
			</div>
			<div class="column">
				<mat-checkbox (change)="sound.updateSound()" formControlName="legacyUseAccelerationSoundsWhenCoasting">{{ 'vehicle_properties.sound.legacy.use_acceleration_sound' | translate }}</mat-checkbox>
				<mat-checkbox (change)="sound.updateSound()" formControlName="legacyConstantPlaybackSpeed">{{ 'vehicle_properties.sound.legacy.constant_playback_speed' | translate }}</mat-checkbox>
				<div class="row gap-small center">
					<app-sound class="spacing" #sound buttonLabel="{{ 'vehicle_properties.sound.test_motor_sound' | translate }}" [timeout]="5000" [soundId]="legacySpeedSoundBaseResource.value" [sliderMax]="300" sliderLabelSuffix="km/h" [parameters]="getLegacyParameters('speed')"/>
					@if (sound.getIsMinecraftPaused()) {
						<mat-icon color="warn" matTooltip="{{ 'vehicle_properties.sound.unpause_minecraft' | translate }}">warning</mat-icon>
					} @else {
						<mat-icon/>
					}
				</div>
				<div class="row gap-small">
					<app-sound buttonLabel="{{ 'vehicle_properties.sound.test_door_open_sound' | translate }}" [timeout]="1000" [soundId]="legacyDoorSoundBaseResource.value" [parameters]="getLegacyParameters('door-open')"/>
					<app-sound buttonLabel="{{ 'vehicle_properties.sound.test_door_close_sound' | translate }}" [timeout]="1000" [soundId]="legacyDoorSoundBaseResource.value" [parameters]="getLegacyParameters('door-close')"/>
				</div>
			</div>
		}
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="onSave()" cdkFocusInitial>{{ 'components.save' | translate }}</button>
	<button mat-button (click)="onCancel()">{{ 'components.cancel' | translate }}</button>
</mat-dialog-actions>
