Version 1.0

[MTR]
MotorNoiseDataType = 4
MotorVolumeMultiply = 10
DoorCloseSoundLength = 1

[Run]
0 = Run2.wav
1 = Run1.wav
2 = Run2.wav
3 = Run3.wav
4 = Run4.wav
5 = Run5.wav
6 = Run6.wav
7 = Run7.wav
[Flange]
0 = Flange0.wav
[Motor]
0 = Motor0.wav
1 = Motor1.wav
2 = Motor2.wav
[Switch]
0 = Point.wav

[Buzzer]

[Brake]
BC Release High = Air.wav
BC Release = Air.wav
BC Release Full = AirZero.wav
#Emergency = Cat-A.wav

[Brake Handle]
#Min = TBC.wav
#apply = TBC.wav
#Release = TBC.wav
#Max = TBC.wav

[Master Controller]
#Max = TBC.wav
#up = TBC.wav
#down = TBC.wav
#Min = TBC.wav

[Reverser]
#On = openup.wav
#Off = shutdown.wav


[Compressor]
Release = CpEnd.wav
Loop = CpLoop.wav
Attack = CpStart.wav

[Door]
Open Left = dooropen.wav
Open Right = dooropen.wav
Close Left = doorclose.wav
Close Right = doorclose.wav

[Horn]
#Primary = whistle.wav
#Secondary = cleardoors.wav
#music = resumeservice.wav
[Suspension]

[Others]
Noise = Loop.wav
Shoe = Rub.wav

[Pilot Lamp]

[ats]
#3 = wiper1.wav
#4 = wiper2.wav