<h2 mat-dialog-title>{{ 'model.edit_parts.title' | translate }}</h2>
<mat-dialog-content>
	<table mat-table [dataSource]="dataSource">
		@for (column of allColumns; track $index) {
			<ng-container [matColumnDef]="column.id" [sticky]="$index === 0">
				<th mat-header-cell *matHeaderCellDef>{{ column.title | translate }}</th>
				<td mat-cell *matCellDef="let modelPropertiesPart">{{ column.formatData(modelPropertiesPart) }}</td>
			</ng-container>
		}
		<ng-container matColumnDef="controls" stickyEnd>
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let modelPropertiesPart">
				<div class="row spacing gap-small">
					<button mat-icon-button (click)="edit(modelPropertiesPart)" matTooltip="{{ 'components.edit' | translate }}">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button (click)="delete(modelPropertiesPart)" matTooltip="{{ 'components.delete' | translate }}">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumnNames; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumnNames;"></tr>
	</table>
</mat-dialog-content>
<mat-dialog-actions>
	<form class="row gap center wide" [formGroup]="formGroup">
		<div class="spacing"></div>
		@if (hasNormal && (hasFloorOrDoorway || hasSeat || hasDisplay)) {
			<mat-checkbox (change)="filterData()" formControlName="showNormalParts">{{ 'model.edit_parts.show_normal_parts' | translate }}</mat-checkbox>
		}
		@if (hasFloorOrDoorway && (hasNormal || hasSeat || hasDisplay)) {
			<mat-checkbox (change)="filterData()" formControlName="showFloorsAndDoorways">{{ 'model.edit_parts.show_floors_and_doorways' | translate }}</mat-checkbox>
		}
		@if (hasSeat && (hasNormal || hasFloorOrDoorway || hasDisplay)) {
			<mat-checkbox (change)="filterData()" formControlName="showSeats">{{ 'model.edit_parts.show_seats' | translate }}</mat-checkbox>
		}
		@if (hasDisplay && (hasNormal || hasFloorOrDoorway || hasSeat)) {
			<mat-checkbox (change)="filterData()" formControlName="showDisplays">{{ 'model.edit_parts.show_displays' | translate }}</mat-checkbox>
		}
		<div>
			<button mat-flat-button (click)="add()">
				<mat-icon>add</mat-icon>
                {{ 'model.edit_parts.add' | translate }}
			</button>
			<button mat-button (click)="onClose()" cdkFocusInitial>{{ 'components.close' | translate }}</button>
		</div>
	</form>
</mat-dialog-actions>
