<div class="column gap">
	<div class="row gap center">
		@if (hasData()) {
			<button mat-button (click)="openResetDialog()">
				<mat-icon>undo</mat-icon>
				Reset Resource Pack Creator
			</button>
		} @else {
			<button mat-flat-button [disabled]="uploader.getFileNames()" (click)="create()">
				<mat-icon>add</mat-icon>
				Create a New Resource Pack
			</button>
			<button mat-flat-button [disabled]="uploader.getFileNames()" (click)="uploader.upload()">
				<mat-icon>edit</mat-icon>
				Edit an Existing Resource Pack
			</button>
		}
	</div>
	<app-uploader #uploader [fileExtensions]="['zip']" [allowMultiple]="false" endpoint="upload/zip" (uploaded)="upload($event)"/>
</div>
