<h2 mat-dialog-title>{{ 'model.edit_properties.model_properties' | translate }}</h2>
<mat-dialog-content>
	<form class="column gap" [formGroup]="formGroup">
		<div>{{ 'model.edit_properties.main_resources' | translate }}</div>
		<app-autocomplete label="{{ 'model.edit_properties.model_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="modelResource" [lists]="modelLists"/>
		<app-autocomplete label="{{ 'model.edit_properties.texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="textureResource" [lists]="textureLists"/>
		<div class="row gap center">
			<mat-form-field subscriptSizing="dynamic">
				<mat-label>{{ 'model.edit_properties.y_offset' | translate }}</mat-label>
				<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.y_offset' | translate }}" formControlName="modelYOffset" step="0.5"/>
			</mat-form-field>
			<mat-checkbox formControlName="flipTextureV">{{ 'model.edit_properties.flip_texture_v' | translate }}</mat-checkbox>
		</div>

		@if (hasGangway) {
			<div>{{ 'model.edit_properties.gangways' | translate }}</div>
			<app-autocomplete label="{{ 'model.edit_properties.inner_side_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="gangwayInnerSideResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.inner_top_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="gangwayInnerTopResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.inner_bottom_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="gangwayInnerBottomResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.outer_side_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="gangwayOuterSideResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.outer_top_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="gangwayOuterTopResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.outer_bottom_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="gangwayOuterBottomResource" [lists]="textureLists"/>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.width' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.width' | translate }}" formControlName="gangwayWidth" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.height' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.height' | translate }}" formControlName="gangwayHeight" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.y_offset' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.y_offset' | translate }}" formControlName="gangwayYOffset" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.z_offset' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.z_offset' | translate }}" formControlName="gangwayZOffset" step="0.1"/>
				</mat-form-field>
			</div>
		}

		@if (hasBarrier) {
			<div>{{ 'model.edit_properties.barriers' | translate }}</div>
			<app-autocomplete label="{{ 'model.edit_properties.inner_side_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="barrierInnerSideResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.inner_top_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="barrierInnerTopResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.inner_bottom_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="barrierInnerBottomResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.outer_side_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="barrierOuterSideResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.outer_top_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="barrierOuterTopResource" [lists]="textureLists"/>
			<app-autocomplete label="{{ 'model.edit_properties.outer_bottom_texture_resource' | translate }}" [parentFormGroup]="formGroup" childFormControlName="barrierOuterBottomResource" [lists]="textureLists"/>
			<div class="row gap">
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.width' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.width' | translate }}" formControlName="barrierWidth" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.height' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.height' | translate }}" formControlName="barrierHeight" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.y_offset' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.y_offset' | translate }}" formControlName="barrierYOffset" step="0.1"/>
				</mat-form-field>
				<mat-form-field subscriptSizing="dynamic">
					<mat-label>{{ 'model.edit_properties.z_offset' | translate }}</mat-label>
					<input matInput type="number" attr.aria-label="{{ 'model.edit_properties.z_offset' | translate }}" formControlName="barrierZOffset" step="0.1"/>
				</mat-form-field>
			</div>
		}
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="onSave()" cdkFocusInitial>{{ 'components.save' | translate }}</button>
	<button mat-button (click)="onCancel()">{{ 'components.cancel' | translate }}</button>
</mat-dialog-actions>
