BveTs Vehicle Sound 3.01:utf-8
# You don't have to remove the .wav suffix when packaging the file into the mod resource. It's addressed automatically.

[MTR]
DoorCloseSoundLength = 1
BreakerDelay = 0
MotorOutputAtCoast = 0.8
RegenerationLimit = 0.1

[Run]
0 = Run1.wav
1 = Run1.wav
2 = Run1.wav
3 = Run1.wav
4 = Run1.wav

[Flange]
0 = Flange0.wav

[Switch]
0 = Point.wav

[Motor]
0 = Motor0.wav
1 = Motor1.wav

[Brake]
BCReleaseFull = startbrake.wav
BcReleaseHigh = startbrake.wav

[Door]
Open = dooropn.wav
Close = doorcls.wav

[Others]
Noise = Loop.wav