<h2 mat-dialog-title>{{ 'model.edit_parts.title' | translate }}</h2>
<mat-dialog-content>
    <form class="column gap" [formGroup]="formGroup">
        <div>General</div>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'model.edit_parts.name' | translate }}</mat-label>
            <mat-select formControlName="name">
                @for (name of modelPartNames; track $index) {
                    <mat-option [value]="name">{{ name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'model.edit_parts.conditions.title' | translate }}</mat-label>
            <mat-select formControlName="condition">
                <mat-option value="NORMAL">{{ 'model.edit_parts.conditions.normal' | translate }}</mat-option>
                <mat-option value="AT_DEPOT">{{ 'model.edit_parts.conditions.at_depot' | translate }}</mat-option>
                <mat-option value="ON_ROUTE_FORWARDS">{{ 'model.edit_parts.conditions.on_route_forwards' | translate }}</mat-option>
                <mat-option value="ON_ROUTE_BACKWARDS">{{ 'model.edit_parts.conditions.on_route_backwards' | translate }}</mat-option>
                <mat-option value="DOORS_CLOSED">{{ 'model.edit_parts.conditions.doors_closed' | translate }}</mat-option>
                <mat-option value="DOORS_OPENED">{{ 'model.edit_parts.conditions.doors_opened' | translate }}</mat-option>
                <mat-option value="CHRISTMAS_LIGHT_RED">{{ 'model.edit_parts.conditions.christmas_light_red' | translate }}</mat-option>
                <mat-option value="CHRISTMAS_LIGHT_YELLOW">{{ 'model.edit_parts.conditions.christmas_light_yellow' | translate }}</mat-option>
                <mat-option value="CHRISTMAS_LIGHT_GREEN">{{ 'model.edit_parts.conditions.christmas_light_green' | translate }}</mat-option>
                <mat-option value="CHRISTMAS_LIGHT_BLUE">{{ 'model.edit_parts.conditions.christmas_light_blue' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'model.edit_parts.types.title' | translate }}</mat-label>
            <mat-select formControlName="type">
                <mat-option value="NORMAL">{{ 'model.edit_parts.types.normal' | translate }}</mat-option>
                <mat-option value="DISPLAY">{{ 'model.edit_parts.types.display' | translate }}</mat-option>
                <mat-option value="FLOOR">{{ 'model.edit_parts.types.floor' | translate }}</mat-option>
                <mat-option value="DOORWAY">{{ 'model.edit_parts.types.doorway' | translate }}</mat-option>
                <mat-option value="SEAT">{{ 'model.edit_parts.types.seat' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'model.edit_parts.positions' | translate }}</mat-label>
            <textarea matInput attr.aria-label="{{ 'model.edit_parts.positions' | translate }}" cdkTextareaAutosize (focusout)="formatPositions()"
                      formControlName="positions" autocomplete="off"></textarea>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ 'model.edit_parts.flipped_positions' | translate }}</mat-label>
            <textarea matInput attr.aria-label="{{ 'model.edit_parts.flipped_positions' | translate }}" cdkTextareaAutosize (focusout)="formatPositions()"
                      formControlName="positionsFlipped" autocomplete="off"></textarea>
        </mat-form-field>
        @if (isNormal()) {
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ 'model.edit_parts.render_stages.title' | translate }}</mat-label>
                <mat-select formControlName="renderStage">
                    <mat-option value="LIGHT">{{ 'model.edit_parts.render_stages.light' | translate }}</mat-option>
                    <mat-option value="ALWAYS_ON_LIGHT">{{ 'model.edit_parts.render_stages.always_on_light' | translate }}</mat-option>
                    <mat-option value="INTERIOR">{{ 'model.edit_parts.render_stages.interior' | translate }}</mat-option>
                    <mat-option value="INTERIOR_TRANSLUCENT">{{ 'model.edit_parts.render_stages.interior_translucent' | translate }}</mat-option>
                    <mat-option value="EXTERIOR">{{ 'model.edit_parts.render_stages.exterior' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
        }

        <div>{{ 'model.edit_parts.door_movement.title' | translate }}</div>
        <div class="row gap">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ 'model.edit_parts.door_movement.door_x_multiplier' | translate }}</mat-label>
                <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.door_x_multiplier' | translate }}" formControlName="doorXMultiplier"
                       step="1"/>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ 'model.edit_parts.door_movement.door_z_multiplier' | translate }}</mat-label>
                <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.door_z_multiplier' | translate }}" formControlName="doorZMultiplier"
                       step="1"/>
            </mat-form-field>
        </div>
        @if (hasDoorMultiplier()) {
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ 'model.edit_parts.door_animation_types.title' | translate }}</mat-label>
                <mat-select formControlName="doorAnimationType">
                    <mat-option value="STANDARD">{{ 'model.edit_parts.door_animation_types.standard' | translate }}</mat-option>
                    <mat-option value="STANDARD_SLOW">{{ 'model.edit_parts.door_animation_types.standard_slow' | translate }}</mat-option>
                    <mat-option value="CONSTANT">{{ 'model.edit_parts.door_animation_types.constant' | translate }}</mat-option>
                    <mat-option value="PLUG_FAST">{{ 'model.edit_parts.door_animation_types.plug_fast' | translate }}</mat-option>
                    <mat-option value="PLUG_SLOW">{{ 'model.edit_parts.door_animation_types.plug_slow_1' | translate }}</mat-option>
                    <mat-option value="PLUG_SLOW_2">{{ 'model.edit_parts.door_animation_types.plug_slow_2' | translate }}</mat-option>
                    <mat-option value="PLUG_SLOW_3">{{ 'model.edit_parts.door_animation_types.plug_slow_3' | translate }}</mat-option>
                    <mat-option value="BOUNCY_1">{{ 'model.edit_parts.door_animation_types.bouncy_1' | translate }}</mat-option>
                    <mat-option value="BOUNCY_2">{{ 'model.edit_parts.door_animation_types.bouncy_2' | translate }}</mat-option>
                    <mat-option value="MLR">{{ 'model.edit_parts.door_animation_types.mlr' | translate }}</mat-option>
                    <mat-option value="R179">{{ 'model.edit_parts.door_animation_types.r179' | translate }}</mat-option>
                    <mat-option value="R211">{{ 'model.edit_parts.door_animation_types.r211' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row gap">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.door_movement.from_opening_time' | translate }} (ms)</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.from_opening_time' | translate }} (ms)"
                           formControlName="renderFromOpeningDoorTime" min="0" step="100"/>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.door_movement.until_opening_time' | translate }} (ms)</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.until_opening_time' | translate }} (ms)"
                           formControlName="renderUntilOpeningDoorTime" min="0" step="100"/>
                </mat-form-field>
            </div>
            <div class="row gap">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.door_movement.from_closing_time' | translate }} (ms)</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.from_closing_time' | translate }} (ms)"
                           formControlName="renderFromClosingDoorTime" min="0" step="100"/>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.door_movement.until_closing_time' | translate }} (ms)</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.until_closing_time' | translate }} (ms)"
                           formControlName="renderUntilClosingDoorTime" min="0" step="100"/>
                </mat-form-field>
            </div>
            <div class="row gap">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.door_movement.flash_on_time' | translate }} (ms)</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.flash_on_time' | translate }} (ms)" formControlName="flashOnTime" min="0"
                           step="100"/>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.door_movement.flash_off_time' | translate }} (ms)</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.door_movement.flash_off_time' | translate }} (ms)" formControlName="flashOffTime"
                           min="0" step="100"/>
                </mat-form-field>
            </div>
        }

        @if (isDisplay()) {
            <div>{{ 'model.edit_parts.display.title' | translate }}</div>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ 'model.edit_parts.display.types.title' | translate }}</mat-label>
                <mat-select formControlName="displayType">
                    <mat-option value="DESTINATION">{{ 'model.edit_parts.display.types.destination' | translate }}</mat-option>
                    <mat-option value="ROUTE_NUMBER">{{ 'model.edit_parts.display.types.route_number' | translate }}</mat-option>
                    <mat-option value="DEPARTURE_INDEX">{{ 'model.edit_parts.display.types.departure_index' | translate }}</mat-option>
                    <mat-option value="NEXT_STATION">{{ 'model.edit_parts.display.types.next_station' | translate }}</mat-option>
                    <mat-option value="NEXT_STATION_KCR">{{ 'model.edit_parts.display.types.next_station_kcr' | translate }}</mat-option>
                    <mat-option value="NEXT_STATION_MTR">{{ 'model.edit_parts.display.types.next_station_mtr' | translate }}</mat-option>
                    <mat-option value="NEXT_STATION_UK">{{ 'model.edit_parts.display.types.next_station_uk' | translate }}</mat-option>
                    <mat-option value="ROUTE_COLOR">{{ 'model.edit_parts.display.types.route_color' | translate }}</mat-option>
                    <mat-option value="ROUTE_COLOR_ROUNDED">{{ 'model.edit_parts.display.types.route_color_rounded' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            @if (!isRouteColorDisplay()) {
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.display.default_text' | translate }}</mat-label>
                    <input matInput attr.aria-label="{{ 'model.edit_parts.display.default_text' | translate }}" formControlName="displayDefaultText" autocomplete="off"/>
                </mat-form-field>
            }
            <div class="row gap">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.display.x_padding' | translate }}</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.display.x_padding' | translate }}" formControlName="displayXPadding" step="0.1"/>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.display.y_padding' | translate }}</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.display.y_padding' | translate }}" formControlName="displayYPadding" step="0.1"/>
                </mat-form-field>
            </div>
            @if (!isRouteColorDisplay()) {
                <div class="row gap">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>{{ 'model.edit_parts.display.color_cjk_text' | translate }}</mat-label>
                        <input matInput type="color" attr.aria-label="{{ 'model.edit_parts.display.color_cjk_text' | translate }}" formControlName="displayColorCjk"/>
                    </mat-form-field>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>{{ 'model.edit_parts.display.color_non_cjk_text' | translate }}</mat-label>
                        <input matInput type="color" attr.aria-label="{{ 'model.edit_parts.display.color_non_cjk_text' | translate }}" formControlName="displayColor"/>
                    </mat-form-field>
                </div>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'model.edit_parts.display.max_line_height' | translate }}</mat-label>
                    <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.display.max_line_height' | translate }}" formControlName="displayMaxLineHeight"
                           min="0" step="0.1"/>
                </mat-form-field>
                @if (isDepartureIndexDisplay()) {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>{{ 'model.edit_parts.display.pad_zeros' | translate }}</mat-label>
                        <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.display.pad_zeros' | translate }}" formControlName="displayPadZeros" min="0"
                               step="1"/>
                    </mat-form-field>
                } @else {
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>{{ 'model.edit_parts.display.cjk_size_ratio' | translate }}</mat-label>
                        <input matInput type="number" attr.aria-label="{{ 'model.edit_parts.display.cjk_size_ratio' | translate }}" formControlName="displayCjkSizeRatio"
                               min="0" step="0.5"/>
                    </mat-form-field>
                }
                <div class="column">
                    <mat-checkbox formControlName="displayOptionSingleLine">{{ 'model.edit_parts.display.options.single_line' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionUpperCase">{{ 'model.edit_parts.display.options.convert_to_upper_case' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionSpaceCjk">{{ 'model.edit_parts.display.options.put_space_for_short_cjk_text' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionScrollNormal">{{ 'model.edit_parts.display.options.scroll_normal' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionScrollLightRail">{{ 'model.edit_parts.display.options.scroll_light_rail' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionSevenSegment">{{ 'model.edit_parts.display.options.seven_segment' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionAlignLeftCjk">{{ 'model.edit_parts.display.options.align_left_cjk_text' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionAlignRightCjk">{{ 'model.edit_parts.display.options.align_right_cjk_text' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionAlignLeft">{{ 'model.edit_parts.display.options.align_left_non_cjk_text' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionAlignRight">{{ 'model.edit_parts.display.options.align_right_non_cjk_text' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionAlignTop">{{ 'model.edit_parts.display.options.align_top' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionAlignBottom">{{ 'model.edit_parts.display.options.align_bottom' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="displayOptionCycleLanguages">{{ 'model.edit_parts.display.options.cycle_languages' | translate }}</mat-checkbox>
                </div>
            }
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onClose()" cdkFocusInitial>{{ 'components.close' | translate }}</button>
</mat-dialog-actions>
